 <html>
<head>
 
 
</head>
<body>
		<br><br><br>
		<table cellpadding= "20">
           			 <% @result2.each do |t| %>
				<tr>	
				<td><%= t.name%></td>
				<td><%= t.comment%></td>
				<td><%= t.time.to_date.strftime("%Y-%m-%d") %></td>
				<td> <%= link_to("Delete", {:action => 'delcomment', :id => t.comment_id}, :class => 'action delete') %></td>
				<% end %>
				</tr>
		</table>
</body>
</html>
