   <HTML>
  <HEAD>
  <TITLE>General</TITLE>
  </HEAD>
  <BODY>
<center>
<br><br>
This is a report from //date// to //date//
 <br><br><br><br>	
<%= " REPORT" %> <br> 
 
<table border = 2>
   <tr width = "100%">
     <th>DATE</th>
      <% @satlevel.each do |satlevel| %>
     <th><%= satlevel.name%></th>
      <% end %>
   </tr>

<% @votes.each do |vote| %>
  <tr>
    <td><%= vote.created_at.strftime("%d %B %Y" )%></td>
  </tr>
<% end %>
</table>
 
<br><br><br>
	total votes : <br>
	positive responses :<span length = "5%"></span>	percetage: <br>
 	negative responses :<span width = "5%"></span> 	percetage: <br><br><br>	

<table border = 2>
	<tr>
		<th>CONCERN</th>
		<th>NUMBER</th>
	</tr>
	<% @concerns.each do |concerns|%>
	<tr>
	
		<td><%= concerns.name %></td>
	<% end %>
	</tr>
</table><br><br><br>

	 <input type="submit" value="Create a PDF"/>

</center>
  </BODY>
  </HTML>


