<html>
<head>
<title>

<title>

 <style type="text/css"
	.content{
		background-color:blue;
		}
   
  
</style>
</head>
<body>
<div class="content">
hjjvghjfcghjzxbhjbv
kjhkjhkjgbhjghjhjgvhjvghvv<br>
</div>
</body>
</html>
