<html>
<head> 

<title>Welcome toa administrator's service adding page </title>
<link href="main.css" rel="Stylesheet">

<body>
<h1 align= "center" color="Red" > Welcome Administrator add-service page </h1>
<form acion="#">
<h2> <img src="Picture1.png"> </br> <a href= "file:///media/kumbu/3082-6769/KK.html"> BACK </a> 
 
<p class= menubarleft><a href="file:///home/kumbu/Desktop/kk.html">logout</a></p> 
<p>Home  Report  Administrator</a> </p> </br> </br>
 
  <label for="serviseName">Enter New Service's Name:<input id="serviceName" type="text" size="30" class="reqd email"></label> </br> </br>	

 <label for="PassRe">Enter Department Name:<input id="PassRe" type="text" size="30" class="password"></label>	</br></br>

<button onclick=<"verify_form();" style="width: 300px;height:60px;border-radius: 30px;" class="main">Save<a/></button>

</p>
</body>

</head>
