<html>		

<h1>third page</h1>
	 
					
	 	<form action = "/admin/forth" method = "post" >
			Choose department:
			<%= select_tag("service", options_for_select(@service.collect{|service|service.name}))%><br><br><br><br>
		 		
			Start date
			 <%= select_date(Time.now) %> <br><br>				  	
			End date
			 <%= select_date(Time.now) %> <br><br><br><br>

    		 <input type="submit" value="Submit"/>  
 

</html>
