<h1>EDIT SERVICE</h1>

<%= form_for(:service, :url => {:action => 'updateService', :id => @service.id}) do |f| %>

	<table summary="Subject form fields">
		<tr> 
			<th>Name</th> 
				<td><%= f.text_field(:name) %></td> 
		</tr> 
		 

	</table><br><br>

	<div class="form-buttons"> 
		<%= submit_tag("Rename") %> 

	</div><br><br>

	<%= link_to("<< Return to List", {:action => 'listservice'}, :class => 'back-link') %>

<% end %>




