<h1>Second page</h1>

	 

<div class="subject list">
  <h2>List services</h2>
  

 


  <table>
    
    <% @service.each do |service| %>
    <tr>
      <td><%= service.name %></td>
      <td class="actions">
        <%= link_to("Rename", {:action => 'editservice',  :id => service.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delservice', :id => service.id},  :class => 'action delete') %>
      </td>
    </tr>
    <% end %>

 <tr>

    <td>
	<br><br><%= link_to("Add New Service", {:action => 'addservice'}, :class => 'action new') %>
   </td>
</tr>

  </table>
</div>
