<h1>Second page</h1>

	 

<div class="">  
	<h4>Manage services and concerns</h4>

	<%= link_to("Service", {:action =>'listservice'}, :class => 'action 3')%> <br><br>
         <%= link_to("Concerns", {:action =>'listconcerns'}, :class => 'action 4')%><br/><br/>
	 <%= link_to("user",{:controller => 'user',:action =>'edit'})%>
</div>
