
<html>
<head>
 <style type = "text/css">
html,body{
		background-color:#8CCEF2;
		}
</style>
</head>

<script type="text/javascript">

  function genReport()
  {

      var path = [
        "/report/specify_details?type=Departmental report",
        "/report/specify_details?type=General report",
      
      ];
      var icons = ['aggregate.png','Hospital-icon.png'];
      var title = [ 'Departmental Report', 'General Report'];

    loadMenu(title,icons,path);

  }

  function loadMenu(fields, images,paths){
    document.getElementById("panel").innerHTML = "";

    for(var i = 0; i < fields.length; i++){

      var div = document.createElement("div");
      div.style.width = "200px";
      div.style.height = "160px";
      div.style.textAlign = "center";
      div.style.cssFloat = "left";
      div.style.padding = "5px";
      div.style.opacity = "1";
      div.style.cursor = "pointer";
      div.setAttribute("link", paths[i]);
      div.className = "menu_button blue";

      div.onclick = function(){
        window.location = this.getAttribute("link");
      }

      document.getElementById("panel").appendChild(div);

      var img = document.createElement("img");
      img.src = "/images/" + images[i];
      img.setAttribute("alt", fields[i]);
      img.height = "90";
      img.style.margin = "5px";

      div.appendChild(img);

      div.innerHTML += "<div style='padding: 5px; margin-top: 10px;'>" + fields[i] + "</div>";

    }
  }

  setTimeout("genReport()", 200);
</script>

<style type="text/css">

  td{
    text-align: center;
  }
</style>



<div id='panel' style="height: 80%; overflow:auto;">


</div>

</html>
