 <html>
 	 


	<h3>Choose what kind of report you want</h3>

	 <%= link_to("Todays report", {:action =>'#'}, :class => 'action 4')%><br>
	 <%= link_to("Weekly report", {:action =>'#'}, :class => 'action 5')%><br>
	 <%= link_to("Monthly report", {:action =>'#'}, :class => 'action 6')%> <br><br><br><br>

	
	
	 <%= link_to("Specify time period", {:action =>'specify_dates_general'}, :class => 'action 4')%><br>

</html>
