<h1>Second page</h1>

	 

<div class="">  
	<h4>Choose report type</h4>

	<%= link_to("Department Reports", {:action =>'reportType'}, :class => 'action 3')%> <br><br>
         <%= link_to("General reports", {:action =>'reportType_general'}, :class => 'action 3')%>

</div>
