
<html>
	<head>
	<title>question</title>	
	
	 <style type="text/css">
	
	#header {
          position:fixed;
          width:100%;
          left:0;
          top:0;
          background: #191970;
          height:100px;

	 }
	 
      
	 </style>
	</head>
	
	<body>
		<div id="header">
	 	   <span style="font-size: 45px;color: #C0C0C0;font-family:arial;">
           		 ARE YOU SATISFIED WITH THE SERVICE YOU HAVE RECEIVED IN <%=@service_selected%>?
          	   </span>
  		    <!--<img src="/images/vote.jpg" style="float: left;margin-top: 5px;margin-left: 5px;height: 80px;">
           		-->
	        </div>

		
	 <form action = "/votes/assesslevel" method = "post" >
		
		<%= hidden_field_tag("client_id", @hash_id)%>
		<%= hidden_field_tag("service_sel", @service_selected)%>
		<%= select_tag("satlevel", options_for_select(@sat.collect{|sat|sat.name}))%>

         <input type="submit" value="Submit"/>      
	</form>
	</body>

</html>
