
<html>
    <head>
	<title>concerns</title>	
	
	<style type="text/css">
	
	#header {
          position:fixed;
          width:100%;
          left:0;
          top:0;
          background: #191970;
          height:100px;

	 }
	 
      
	</style>

    </head>
	
	
	
     <body>
	
	<div id="header">
	 	 <span style="font-size: 45px;color: #C0C0C0;font-family:arial;">
           		
          	 </span>
  		    <img src="/images/vote.jpg" style="float: left;margin-top: 5px;margin-left: 5px;height: 80px;">
           
	   </div>

	 
	<form action = "/votes/save_comment " method = "post" >
		<div>
		THANK YOU FOR VOTING
		</div>
	
	<!--<% i=0 %>
	<% while(i<10)%>
	<%= button_to('button_' + i.to_s)%>
	<%i+=1%>
	<% end%>	-->
	
	<input type="submit" value="FINISH"/>   
	<input type="button" value="COMMENT" name="comment" onmousedown=" window.location='/votes/leavecomment/'">  
	<!--<script>
		for(i=0; i<=2; i++){
			h = document.getElementById('header');
			h.innerHTML += "<input type='button' value='comment here'>"	
		}
	</script>-->
	</form>
    </body>

</html>


        
