<html>
    <head>
	<title>concerns</title>	
	
	<style type="text/css">
	
	#header {
          position:fixed;
          width:100%;
          left:0;
          top:0;
          background: #191970;
          height:100px;

	 }
	 
      
	</style>

    </head>
	
	
	
     <body>
	
	   <div id="header">
	 	 <span style="font-size: 45px;color: #C0C0C0;font-family:arial;">
           		 CHOSE THE PROBLEMS YOU HAD IN <%=@service %>
          	 </span>
  		    <img src="/images/vote.jpg" style="float: left;margin-top: 5px;margin-left: 5px;height: 80px;">
           
	   </div>

	 
	  <form action = "/votes/save_vote " method = "post" >
	
		<%@concerns.each do |t|%>
		<li>
		    <%= check_box_tag("concerns[]", t.name)%>
		    <%= t.name %>
		</li>
	        <% end %>
			<!--values in transit-->
			<%= hidden_field_tag("client_id", params[:client_id])%>
			<%= hidden_field_tag("service_choice", params[:service_choice])%>
			<%= hidden_field_tag("response", params[:response])%>
         
		
		<input type="submit" value="Submit"/>      
	
	    </form>
    </body>

</html>


        
