<html>
    <head>
	<title>concerns</title>	
	
	
  

    </head>
	
	
	
     <body>

	<center>
	

	<div id="header">
	 	 <div style="font-size: 32px;color: #eaeaea;font-family:arial;margin-top:2.1%;">
           		 CHOOSE THE PROBLEMS YOU HAD IN <%=$service_selected.upcase %>
          	  		    
           	   </div>
	</center>

	<br><br><br>

	   


	 
	  <form action = "/votes/save_vote " method = "post" >
	
		<%@concerns.each do |t|%>
	
		<li>
		    <%= check_box_tag("concerns[]", t.name)%>
		    <%= t.name %>
		</li>
	        <% end %>
			<!--values in transit-->
			<%= hidden_field_tag("client_id", params[:client_id])%>
			<%= hidden_field_tag("service_choice", params[:service_choice])%>
			<%= hidden_field_tag("response", params[:response])%>
         
		
		<input type="submit" value="Submit"/>      
	
	    </form>
    </body>


</html>


        
