<html>
<head>
<title></title>
<style type="text/css">
	button
		{ border-radius: 5px;
          	 	background-color: #197994; 
			padding-left: 30px;
			padding-right: 30px;  
          		width: 250px; 
			height: 90px;
			font-size: 30px;
			color: #eaeaea;
			
               }

</style>
</head>
<center>
<body>
		<div id="header">
	 	   <div style="font-size: 32px;color: #eaeaea;font-family:arial;margin-top:2.1%;">
           		 <center>CHOOSE LANGUAGE / SANKHANI CHIYANKHULO</center>
          	   </div>
 
<div style="padding:15%;">
 
<br>
 
<a href="serviceselect.rhtml" ><button name="language"type="button" >ENGLISH</button></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button name="language"type="button">CHICHEWA</button>
</div>
</body>
</center>

</html>
