<!DOCTYPE html>


<html>
	<head>
 		 <title>HCSA</title>

	
		<style type="text/css">

      html, body {
          margin:0;
          padding:0;
          height:100%
	  width:100%
	  background: white;
	
	 
      }
      h1, p { margin:0 0 1em }
      #header {
          position:fixed;
          left:0;
          top:0;
          background: #197994;
          height:100px;
	  width:100%;


      }
      #footer {
          bottom:0;
          top:auto;
          position:fixed;
          width:100%;
          left:0;
          background:#197994;
          height:80px;

          
      }

      #content {
          position:absolute;
          top:100px;
          bottom:50px;
          width:100%;
          background:white;
          overflow:auto;
	  
	  
      }


      td.icon{

          color: #92CD00;
          font-size: 23px;
          width: 1px;
          font-family: arial;
          cursor: pointer;
          text-align: center;
      }
      
  </style>


	</head>

	<body >

	<div id="header">
	</div>
	
	
	<div id="content">
		<p><%= yield %></p>
	</div>
	
	<div id="footer">
<a href="javascript: history.go(-1)"><img src="/images/2.png" style="float: left; margin-top: -12px; margin-left: 5px;height: 100px;"></a>
<a href="index" onclick="return confirm('ARE YOU SURE YOU WANT TO QUIT?')" ><img src="/images/7.png" style="float: right;margin-top: -15px;margin-right: 5px;height: 100px;"></a>
	</div>

	</body>
</html>

